.household {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.householdid {
    text-align: center;
}

.managelink {
    align-self: center;
}

.householdusers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.householduser {
    min-width: 130px;
    max-width: 40%;
    min-height: 180px;
    background-color: #bbb;
    border: 1px solid black;
    margin-bottom: 4px;
}

.householdusername {
    text-align: center;
}

.householduserchores {
    background-color: violet;
    min-height: 90%;
}

.householdchores {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right:  auto;
    background-color: #ddd;
}

.householdchorelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}