.addchore {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addchorename {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

.addchorebutton {
    height: 40px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}

.addchoreform {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #8e24aa;
}

.chorenamelabel {
    text-align: center;
    color: whitesmoke;
}

.chorename {
    align-self: center;
    width: 70%;
    height: 22px;
    margin-top: 3px;
    margin-bottom: 8px;
    box-shadow: 5px 8px 8px black;
}

.newchorebutton {
    width: 60px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.addmodal, .duplicatemodal {
    font-size: 0.9rem;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.modalconfirmbutton {
    padding: 2px;
    height: 40px;
    width: 60px;
}

.conceal {
    display: none;
}

@media screen and (min-width: 768px) {
    .chorename {
        width: 50%;
        height: 26px;
    }

    .newchorebutton {
        height: 52px;
        width: 64px;
        margin-bottom: 4px;
    }

    .modalconfirmbutton {
        width: 80px;
    }
}