.register {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-top: 80px;
    background-color: #E63946;
}

.registerh {
    color: whitesmoke;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}

.passwordrules {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    max-width: 300px;
    background-color: #457B9D;
    border: 1px solid #F1FAEE;
    box-shadow: 5px 8px 8px black;
}

#registerusername, #registerpassword {
    height: 22px;
    box-shadow: 5px 8px 8px black;
}

#registersubmit {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    max-width: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .register {
        padding-top: 90px;
    }

    #registersubmit {
        min-height: 40px;
        min-width: 80px;
        max-height: 60px;
        max-width: 90px;
        margin-top: 6px;
        margin-bottom: 2px;
    }
}