.login {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-top: 80px;
    background-color: #E63946;
}

.loginh {
    color: whitesmoke;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.error {
    color: black;
    text-shadow: 		
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #457B9D;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 160px;
    border: 1px solid #F1FAEE;
    box-shadow: 5px 8px 8px black;
}

.username {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.password {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#loginsubmit {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    max-width: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

#loginusername, #loginpassword {
    height: 22px;
    box-shadow: 5px 8px 8px black;
}

@media screen and (min-width: 768px) {
    .login {
        padding-top: 90px;
    }

    .formcontainer {
        width: 60%;
    }
}