.userhome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.collapsed {
    display: none;
}

.householdinfo {
    width: 100px;
    align-self: center;
}

.householdlink {
    height: 80px;
    width: 80px;
}

.houseicon {
    display: block;
    height: 80px;
    width: 80px;
    background-color: #8e24aa;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 5px 8px 8px black;
}

.houseicon:hover {
    cursor: pointer;
}

.leavehouseholdbutton {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    max-width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.householdtitle {
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.joinhouseholdbutton {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    max-width: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-self: center;
}

.joinhouseholdform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #457B9D;
    border: 1px solid #F1FAEE;
    box-shadow: 5px 8px 8px black;
}

.userhomelabel, .createhouseholdnamelabel {
    text-align: center;
}

#joinhouseholdname, #joinhouseholdid {
    align-self: center;
    width: 70%;
    height: 22px;
    margin-top: 3px;
    margin-bottom: 8px;
    box-shadow: 5px 8px 8px black;
}

.userhomesubmitbutton {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    max-width: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-self: center;
}

.createhouseholdbutton {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    max-width: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-self: center;
}

.createhouseholdform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #457B9D;
    border: 1px solid #F1FAEE;
    box-shadow: 5px 8px 8px black;
}

#createhouseholdname {
    align-self: center;
    width: 70%;
    height: 22px;
    margin-top: 3px;
    margin-bottom: 8px;
    box-shadow: 5px 8px 8px black;
}

@media screen and (min-width: 768px) {
    .userhome {
        padding-top: 80px;
    }

    .householdinfo {
        width: 160px;
    }

    .houseicon {
        height: 100px;
        width: 100px;
    }

    .leavehouseholdbutton {
        min-height: 40px;
        min-width: 80px;
        max-height: 60px;
        max-width: 110px;
        margin-left: auto;
        margin-right: auto;
    }

    .joinhouseholdbutton, .createhouseholdbutton {
        min-height: 40px;
        min-width: 80px;
        max-height: 60px;
        max-width: 110px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .joinhouseholdform, .createhouseholdform {
        min-height: 180px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    #joinhouseholdname, #joinhouseholdid, #createhouseholdname {
        width: 50%;
    }
}