.userhome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.collapsed {
    display: none;
}

.householdlink {
    text-align: center;
}

.joinhouseholdbutton {
    width: 70px;
    align-self: center;
}

.joinhouseholdform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #bbb;
}

.userhomelabel {
    text-align: center;
}

.createhouseholdbutton {
    width: 70px;
    align-self: center;
}

.createhouseholdform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
}