.manage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #E63946;
}

.manageusers {
    width: 80%;
    align-self: center;
    border: 1px solid #BDBDBD;
    box-shadow: 5px 8px 8px black;
    margin-bottom: 10px;
}

.manageuser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    background-color: #457B9D;
}

.manageuser:nth-child(even) {
    background-color: #1D3557;
    color: whitesmoke;
}

.manageuserheader {
    color: whitesmoke;
    text-align: center;
    font-size: 1.1rem;
    background-color: #1D3557;
}

.manageusername {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

.manageuserbutton {
    height: 40px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}

.managechores {
    width: 80%;
    align-self: center;
    background-color: #457B9D;
    border: 1px solid #F1FAEE;
    box-shadow: 5px 8px 8px black;
    margin-bottom: 10px;
}

.managechore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    background-color: #457B9D;
}

.managechoreheader {
    color: whitesmoke;
    text-align: center;
    font-size: 1.1rem;
    background-color: #1D3557;
}

.managechore:nth-child(even) {
    background-color: #1D3557;
    color: whitesmoke;
}

.managechorename {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

.managechorebutton {
    height: 40px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}

.addchorebutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

.hidden {
    display: none;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.managemodal {
    font-size: 0.9rem;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
    .manage {
        padding-top: 80px;
    }

    .householdid {
        margin-bottom: 6px;
    }

    .manageusers {
        width: 70%;
        margin-bottom: 60px;
    }

    .manageuserbutton {
        height: 50px;
        width: 80px;
    }

    .managechores {
        width: 70%;
    }

    .managechorebutton {
        height: 50px;
        width: 80px; 
    }

    .addchorebutton {
        height: 50px;
        width: 60px;
    }
}